*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 65.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: red;
    align-items: center;
}

ul{
    list-style: none;
}

nav>ul{
    display: flex;
    margin-right: 2rem;
}

.nav-list li{
    margin-right: 2rem;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.project-section{
    text-align: center;
    padding: 5rem 2.5rem;
    background-color: darkblue;
}

.project-grid{
    display: grid;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3rem;
}